@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(to right, #220042, #5e268f);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: montserrat;
    
}